.sliderLayoutContainer {
  justify-content: center;
  width: auto;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;

  margin-left: 80px;
  margin-right: 80px;

}

.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}
.sliderRightArrow--carousel{
  left:0;
  margin-top: 40px;
}

.paginationDotsContainer--carousel{
  left: 90%;
  
  top: 60%;
}
.paginationDot--isActive{
  background-color: #ffffff;
}
.caretIcon--carousel{
  color: #ffffff;
}
.sliderLayoutContainer--test-carousel{
  margin-left: 80px;
  margin-right: 80px;
}
.sliderLayoutContainer--shelf{
  margin-left: 80px;
  margin-right: 80px;
}