.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline
}
.searchBarInnerContainer :global(.vtex-input__suffix){
  background-color: black;

}
.searchBarInnerContainer :global(.vtex-input-prefix__group){
  border: 1px solid gray;
}
.searchIcon{
  color: gray;
}


.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  max-width: 208px;
  background-color: #000;
  color: #fff;
  border: none;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0px;
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 80px;
}
.infoCardContainer--info-card-featured {
  max-width: 1000px;
  height: 350px;
  margin-left: 10px; 
  margin-right: 10px; 
  padding: 0px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.newsletter {
  
  
  margin: 0 auto;
}

.newsletter .container {
  padding-top: 5%;
  width: 100%;

}



.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #000;

}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #000;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #000;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: #000;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
   
    background-color: transparent;
  }
  .newsletter .container .form .label  {
    color: black;
    
    font-weight: 700;
    font-size: 16px;
    margin-left: -200px;

    
  }
   
  .newsletter .container .form .inputGroup{
    width: 100%;
  }

  .label {
    font-size: 40px;
  }
  .infoCardContainer--info-card-home .infoCardHeadline{
    font-family: cursive;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
    
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .infoCardContainer--info-card-featured1 .infoCardTextContainer {
    width: 100%;
    margin-top: 260px;
    
  }

  .infoCardContainer--info-card-featured1 .infoCardImageContainer {
    width: 100%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.carouselContainer--product-pics .carouselGaleryThumbs{
  display: none;
}
.swiperCaret--product-pics{
  display: none;
}
.swiperBullet--product-pics{
  display: none;
}
.productImagesGallerySlide--product-pics{
  width: 33% !important;
  margin-right: 1%;
}
.productImagesGallerySwiperContainer--product-pics{
  left: -15%;
  width: 121%;
}

@media only screen and (min-width: 640px){
  .infoCardImage--info-card-featured {
    width: 90%;
  
  }
  .infoCardImageContainer--info-card-featured{
    width: 100%;
  }
  .productImagesGallerySwiperContainer--product-pics{
    left: -25%;
    width: 121%;
    margin-top: -80px;
  }

}
.shareContainer{
  float: right;
  margin-top: -8px;

}
.shareLabel{
  float: left;
  font-size: 17px;
  font-weight:bolder;
  margin-right: 70px;
  text-transform: uppercase;
  color: black;
  margin-top: -5px;
}
.shareSocialButton{
  padding-right: 20px;
  margin-top: -8px;
}

.imageElement--carousel{
  font-size: 70px;
  color: #e6f1e6;
}

.infoCardContainer--home-carousel{
  width: 100%;
  height: 775px;
  margin-bottom: -40px;

}
.infoCardHeadline--home-carousel{
  color: #e6f1e6;
}
.infoCardSubhead--home-carousel{
  color: #e6f1e6;
}
.infoCardContainer--plpbanner{
  width: 100%;
  height: 560px;
}
.infoCardContainer--plp-banner{
  width: 100%;
  
}
.infoCardTextContainer--info-card-featured {
  margin-bottom: -80%;
  

}
.infoCardCallActionContainer--info-card-featured{
  margin-bottom: -100%;
  text-decoration: none;
 
  
}
.infoCardCallActionText--info-card-featured{
  text-decoration: none;
  color: #000;
}
.infoCardCallActionContainer--info-card-featured :global(.vtex-button){
  background-color: transparent;
  color: #000;
  border:none ;
}

.infoCardContainer--info-card-featured1{
  margin-left: 10px;
}

.productImagesGallerySwiperContainer--product-pics{
  margin-top: 20px;
}
.productImageTag--product-pics{
  width:50% !important;
}