.wrapper--sticky-header{
    
    background-color: transparent !important;
    margin-right: 160px;
   
}
.container--sticky-header{
    left: 80px;
    right: 80px;
   background-color: transparent;
  
}