
.minicartQuantityBadgeDefault{
    color:gray;
    background-color: transparent;
    position: relative;
    float: right;
    width: auto;
    margin-left: -8px;
    top: auto;
    font-size: 14px;
 }
 .minicartQuantityBadgeDefault::before{
     content: "My Bag (";
     display: inline-block;
 }
 .minicartQuantityBadgeDefault::after{
     content: ")";
     display: inline-block;
 }
 .openIconContainer{
     padding-top: 4px;
 }