.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}
.socialNetworkLink{
  margin-right: 5%;

}
.footerLayout{
  margin-left: 80px;
  margin-right: 80px;
}
